* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 25px;
    font-family: Arial, sans-serif;
    background-color: #f5f7fb;
    color: #14213d;
}


.cap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background-color: #1677ff;
    color: white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

.logo h1 {
    margin: 0;
    font-size: 25px;
}

.logo p {
    margin: 4px 0 0 0;
    color: #8290a8;
    font-size: 14px;
}


nav {
    display: flex;
    gap: 8px;
}

nav a {
    text-decoration: none;
    color: #637087;
    padding: 12px 15px;
    border-radius: 10px;
    font-size: 13px;
}

nav a:hover {
    background-color: #e8f2ff;
}

nav .actiu {
    background-color: #e5f1ff;
    color: #1474ee;
    font-weight: bold;
}

.estadistiques {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.estadistica {
    flex: 1;
    min-height: 85px;
    border-radius: 10px;
    padding: 15px;

    display: flex;
    align-items: center;
    gap: 15px;
}

.estadistica.blau {
    background-color: #eaf4ff;
}

.estadistica.vermell {
    background-color: #fff0f1;
}

.estadistica.verd {
    background-color: #eafaf2;
}

.estadistica.lila {
    background-color: #f2edff;
}

.estadistica .icona {
    width: 42px;
    height: 42px;
    border-radius: 9px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 21px;
}

.blau .icona {
    background-color: #d9ebff;
    color: #1474ee;
}

.vermell .icona {
    background-color: #ffdce0;
    color: #ef3340;
}

.verd .icona {
    background-color: #d6f5e4;
    color: #168a4c;
}

.lila .icona {
    background-color: #e3d9ff;
    color: #5b35d5;
}

.estadistica strong {
    font-size: 21px;
}

.estadistica h3 {
    margin: 2px 0;
    font-size: 13px;
}

.estadistica p {
    margin: 0;
    color: #8995a8;
    font-size: 10px;
}

.titol-projectes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.titol-projectes h2 {
    margin: 0;
    font-size: 20px;
}

.titol-projectes p {
    margin: 5px 0 0 0;
    color: #8995a8;
    font-size: 12px;
}

.titol-projectes select {
    background-color: white;
    border: 1px solid #e1e6ed;
    border-radius: 9px;
    padding: 10px 15px;
    color: #617087;
}

.projectes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
}

.targeta {
    position: relative;
    width: 24%;
    min-height: 145px;
    background-color: white;

    border: 1px solid #e5e9ef;
    border-left: 4px solid;
    border-radius: 10px;
    padding: 14px;
    box-shadow: 0 2px 8px #e7eaf0;
}

.part-superior {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.numero {
    color: #8290a8;
    font-size: 11px;
    font-weight: bold;
}

.part-superior h3 {
    margin: 0;
    flex: 1;
    font-size: 12px;
    line-height: 16px;
    color: black;
}


.prioritat {
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 9px;
    font-weight: bold;
}

.prioritat.baixa {
    background-color: #d9f7e7;
    color: #159450;
}

.prioritat.mitjana {
    background-color: #fff1bd;
    color: #b98200;
}

.prioritat.alta {
    background-color: #ffdfe1;
    color: #db303b;
}

.informacio {
    margin-top: 14px;
}

.informacio p {
    margin: 5px 0;
    font-size: 10px;
    color: #69778d;
}

.informacio strong {
    color: #4e5d73;
}

.mini-icon {
    color: #2179ef;
    margin-right: 4px;
}

.descripcio {
    color: #99a3b3;
}

.part-inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 13px;

    font-size: 10px;
    color: #64738a;
}

.prioritat-numero.baixa {
    color: black;
}

.prioritat-numero.mitjana {
    color: black;
}

.prioritat-numero.alta {
    color: black;
}

.parell {
    display: none;
}


.inferior {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.resum {
    width: 55%;
    background-color: white;
    border: 1px solid #e5e9ef;
    border-radius: 10px;
    padding: 15px;
}

.tecnologies {
    width: 45%;
    background-color: #f5f1ff;
    border: 1px solid #e5e9ef;
    border-radius: 10px;
    padding: 15px;
}


.resum h2,
.tecnologies h2 {
    margin: 0;
    font-size: 14px;
}

.resum > p,
.tecnologies > p {
    margin: 5px 0 15px 0;
    color: #8b96a8;
    font-size: 10px;
}

.resum-dades {
    display: flex;
}

.resum-dades > div {
    width: 25%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-right: 1px solid #e4e8ef;
}


.resum-icon {
    font-size: 22px;
    margin-right: 10px;
}


.resum-dades strong {
    display: block;
    font-size: 18px;
}

.resum-dades p {
    margin: 2px 0 0 0;
    color: #8d98a9;
    font-size: 10px;
}

.vermell-text {
    color: #ed3b48;
}

.verd-text {
    color: #18a35a;
}

.blau-text {
    color: #1677ff;
}

.etiquetes {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.etiquetes span {
    color: white;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
}

.html {
    background-color: #ef7627;
}

.css {
    background-color: #3689e8;
}

.php {
    background-color: #8062d9;
}

.docker {
    background-color: #1d9db5;
}

.wordpress {
    background-color: #38465a;
}

.shopify {
    background-color: #59955e;
}